# Virtual environments
.venv/
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# PyCharm / IntelliJ
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Persistence
chroma_db/*

README.png